@media (max-width: 1200px) {
    br,
    .break {
        display: none;
    }
}

@media (max-width: 1100px) {
    .main-img {
        width: 400px;
        height: 400px;
    }

    .thumbnail-img {
        width: 80px;
        height: 80px;
    }

    .product-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    .thumbnail-container{
        gap: 25px;
    }
}

@media (max-width: 1000px) {
    .main-img {
        width: 300px;
        height: 300px;
    }

    .thumbnail-img {
        width: 64px;
        height: 64px;
    }

    .product-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    .thumbnail-container{
        gap: 15px;
    }

    .thumbnail-container{
        margin-top: 20px;
    }
}


